<div class="modal-container">

  <mat-icon mat-dialog-close>close</mat-icon>

  <form (ngSubmit)="payload ? updateUser() : addUser()" [formGroup]="userForm">

    <h2>{{payload ? 'Edit User' : 'Add User'}}</h2>
    <mat-form-field class="full-width indent">
      <input formControlName="name" type="text" matInput placeholder="name">
      <mat-error *ngIf="name.invalid">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width indent">
      <input formControlName="email" type="text" matInput placeholder="email">
      <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="email.hasError('email')">Invalid format</mat-error>
    </mat-form-field>

    <button
      mat-dialog-close
      mat-raised-button
      class="full-width"
      type="submit"
      [disabled]="userForm.invalid">
      Submit
    </button>

  </form>

</div>
