<form (ngSubmit)="payload ? updateUser() : addUser()" [formGroup]="userForm">

  <mat-form-field class="full-width">
    <input formControlName="name" type="text" matInput placeholder="name">
    <mat-error *ngIf="name.invalid">Name is required</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input formControlName="email" type="text" matInput placeholder="email">
    <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="email.hasError('email')">Invalid format</mat-error>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="userForm.invalid">Submit</button>

</form>
