.modal-container {
  position: relative;
  .mat-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.full-width {
  width: 100%;
}

.indent {
  margin-bottom: 10px;
}
